@import url(https://fonts.googleapis.com/icon?family=Material+Icons|Material+Symbols+Outlined);
@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Doto:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
	--fs-300: 0.8125rem;
    --fs-400: 0.875rem;
    --fs-500: 0.9375rem;
    --fs-600: 1rem;
    --fs-650: 1.2rem;
    --fs-700: 1.875rem;
    --fs-800: 2.5rem;
    --fs-900: 3.5rem;

    --size-100: 0.25rem;
    --size-150: 0.375rem;
    --size-200: 0.5rem;
    --size-300: 0.75rem;
    --size-400: 1rem;
    --size-500: 1.5rem;
    --size-600: 2rem;
    --size-700: 3rem;
    --size-800: 4rem;
    --size-900: 5rem;

	--page-max-width: 1280px;
	--header-height: 75px;

	--clr-neutral-50: #ffffff;
	--clr-neutral-100: #fafafa;
	--clr-neutral-200: hsl(0, 0%, 95%);
	--clr-neutral-300: hsl(0, 0%, 82%);
	--clr-neutral-400: hsl(0, 0%, 75%);
	--clr-neutral-500: #999999;
	--clr-neutral-600: #777777;
	--clr-neutral-700: #555555;
	--clr-neutral-800: #444444;
	--clr-neutral-900: #222222;
	--clr-primary-12: hsl(0, 71%, 95%);
	--clr-primary-25: hsl(0, 71%, 90%);
	--clr-primary-50: hsl(0, 71%, 80%);
	--clr-primary-100: hsl(0, 71%, 70%);
	--clr-primary-200: hsl(0, 71%, 60%);
	--clr-primary-300: hsl(0, 71%, 52%);
	--clr-primary-400: #c62222;
	--clr-primary-500: hsl(0, 78%, 40%);
	--clr-primary-600: hsl(0, 65%, 35%);
	/* --clr-secondary-400: #3b5da2; */
	/* --clr-secondary-400: #25378e; */
	/* --clr-secondary-400: hsl(230, 71%, 45%); */
	--clr-secondary-400: hsl(230, 51%, 45%);

	/* temp */
	/* --clr-primary-400:deeppink; */
	/* --clr-secondary-400:mediumslateblue; */
	/*  */

	--clr-button-bg:var(--clr-primary-400);
	--clr-button-hover:var(--clr-primary-500);
	--clr-button-active:var(--clr-primary-600);
	--clr-button-text:var(--clr-neutral-100);

	--clr-error-400:var(--clr-primary-400);
}

.material-icons,
.material-symbols-outlined{
	line-height:1;
}

a{
	text-decoration:none;
	color:var(--clr-neutral-900);
	/* font-family:"Roboto"; */
	font-family:"Roboto";
	font-weight:600;
}
.btn.accent{
	text-decoration:none;
	/* border-bottom:solid 1px currentColor; */
	color:var(--clr-neutral-100);
	text-transform:uppercase;
	border-radius:4px;
    font-size:14px;
}
.btn.accent:hover{
	background-color:var(--clr-button-hover);
}
.btn.accent:active{
	background-color:var(--clr-button-active);
}
.btn2{
	color:var(--clr-neutral-900);
	font-family:"Roboto";
	font-weight:600;
	background-color:var(--clr-neutral-100);
}

.btn.accent2{
	color:var(--clr-primary-400);
	border:solid 2px var(--clr-primary-400);
	border-radius:var(--size-100);
	font-size:14px;
	background-color:var(--clr-neutral-100);
}
.btn.accent2:hover{
	/* tint */
	background-color:var(--clr-primary-12);

	/* solid */
	/* background-color:var(--clr-primary-400); */
	/* color:var(--clr-neutral-100); */
}
.btn.accent2:active{
	background-color:var(--clr-primary-400);
	color:var(--clr-neutral-100);
}

.btn,
button{
	background-color:var(--clr-button-bg);
	color:var(--clr-button-text);
	border:none;
	padding:var(--size-200) var(--size-500);
}
.icon-btn{
	display:flex;
	gap:var(--size-200);
	align-items:center;
}
.icon-cont{
	display:flex;
	gap:var(--size-200);
	align-items:center;
}
.icon{
	font-family:"Material Icons";
	user-select:none;
	-webkit-user-select:none;
	font-size:24px;
	/* cursor:pointer; */
	/* color:var(--clr-neutral-700); */
	color:var(--clr-neutral-900);
}
.icon.outline{
	font-family:"Material Symbols Outlined";
	/* color:teal; */
}
.click-icon{
	cursor:pointer;
}

.accent3{
	--c:teal;
	font-size:14px;
	color:var(--c);
	border:solid 2px var(--c);
	/* border-radius:var(--size-100); */
	padding:var(--size-100) var(--size-200);
	position:relative;
	border-radius:50px;
	overflow:hidden;

	& .icon{
		color:currentColor;
	}
}
.accent3:not(:hover)::after{
	content:"";
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:var(--c);
	opacity:0.05;
	z-index:-1;
	pointer-events:none;
}
.accent3:hover{
	color:whitesmoke;
}
.accent3:hover{
	background-color:var(--c);
}

/* .icon:hover{
	color:var(--clr-neutral-900);
} */

.go-back-icon{
	transition:translate 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	translate:0px 0px;
}
.go-back-icon:hover{
	/* animation:GoBackIconHover 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
	translate:-3px 0px;
}
@keyframes GoBackIconHover{
	0%{
		translate:0px 0px;
	}
	30%{
		translate:-3px 0px;
	}
	100%{
		translate:0px 0px;
	}
}

body{
	--vt-c-white: #ffffff;
	--vt-c-white-soft: #f8f8f8;
	--vt-c-white-mute: #f2f2f2;

	/* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
	font-family: Roboto;
	/* font-family: Boldonse; */
	/* font-family: Doto; */

	background:repeating-linear-gradient(whitesmoke 0px, whitesmoke 1px, transparent 1px, transparent 20px);
	background-repeat: repeat;

	overflow-y:scroll;
	overflow-x:hidden;
}

#app {
	
}

main#main{
	max-width: var(--page-max-width);
	margin: 0 auto;
	font-weight: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

@media (hover: hover) {
	
}

.flex{
	display:flex;
}
.sb{
	justify-content:space-between;
}
.center{
	justify-content:space-between;
}
.ac{
	align-items:center;
}

.margin-right-auto{
	margin-right:auto;
}
.margin-left-auto{
	margin-left:auto;
}

.col2{
    display:grid;
    grid-template-columns:1fr 1fr;
}

/* inputs */
input[type=text],
input[type=password],
input[type=number]{
	background-color:var(--clr-neutral-200);
	border:solid 1px var(--clr-neutral-300);
	padding:var(--size-200) var(--size-400);
	border-radius:var(--size-100);
}
input.invalid{
	background-color:var(--clr-primary-12);
	border-color:var(--clr-primary-200);
}

.fill-line{
    width:100%;
    height:0px;
    border-top:dotted 3px currentColor;
    /* opacity:0.2; */
	border-color:var(--clr-neutral-500);
    margin-inline:var(--size-500);
}

.link{
	/* text-decoration:underline; */
	border-bottom:solid 2px currentColor;
	color:var(--clr-secondary-400);
	cursor:pointer;
}

[hide=true]{
	opacity:0;
}

label{
	font-size:12px;
	margin-block:var(--size-200);
	opacity:0.6;
}

.flx{
	display:flex;
}
.flx-c{
	display:flex;
	align-items:center;
}
.sb{
	justify-content:space-between;
}

.gap1{
	gap:var(--size-100);
}
.gap2{
	gap:var(--size-200);
}
.gap3{
	gap:var(--size-300);
}
.gap4{
	gap:var(--size-400);
}

.score{
	padding:3px var(--size-100);
	/* background-color:var(--c); */
	border-bottom:solid 3px var(--c);
	/* border-bottom:solid 4px var(--c); */
	color:black !important;
	position:relative;
}
.score::before{
	content:"";
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:var(--c);
	opacity:0.1;
}
.win,[win="1"]{
	--c:green;
	color:var(--clr-neutral-100);
}
.lose,[win="0"]{
    --c:var(--clr-primary-400);
	color:var(--clr-neutral-100);
}
[win="2"]{
    --c:var(--clr-primary-400);
	color:var(--clr-neutral-100);
}

[graydisable="true"]{
	filter:grayscale(0.5);
	opacity:0.5;
	pointer-events:none;
}
.go-back-icon{
	cursor:pointer;
}

input[type="checkbox"]{
	width:16px;
	height:16px;
}

input[type="date"]{
	border:solid 1px var(--clr-neutral-300);
	background-color:var(--clr-neutral-200);
	padding:var(--size-200) var(--size-100);
	border-radius:var(--size-100);
	font-family:Roboto;
	font-size:12px;
	/* font-weight:bold; */
	/* font-style:italic; */

	color:var(--clr-neutral-100);
	background-color: var(--clr-neutral-900);
	color-scheme:dark;
	border-radius:50px;
}

.nm{
	margin:0px;
}

.fw{
	width:100%;
}